
<div>
    <h1>{{film.title}}</h1>
</div>
<div class="infos">
    <hr>
    <h3>Descrição </h3>
<p>{{film.opening_crawl}}</p>
<hr>
    <div class="linha">
        <div class="item-linha">
            <label><strong>Data de Lançamento</strong></label>
            <p>{{film.release_date}}</p>
        </div>
        <div class="item-linha">
            <label><strong>Diretor</strong></label>
            <p>{{film.director}}</p>
        </div>

        <div class="item-linha">
            <label><strong>Produtor</strong></label>
            <p>{{film.producer}}</p>
        </div>
    </div>
</div>
